!!!  
%html  
  %head  
    %title GrowControl
    = bootstrap_assets
    %link(rel="stylesheet" href="css/growcontrol.css")
  %body  
    .webcam
      %img(src='/images/webcam')
    %img.graph(src='/images/temp/daily')
    %img.graph(src='/images/hum/daily')
